body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    width: 100%;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label {
    margin-bottom: 10px;
}

.form-input, .form-textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.form-textarea {
    resize: none;
}

.form-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.form-button:hover {
    background-color: #45a049;
}

li {
    list-style: none;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}

li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

#saved-post-count {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
.download-link {
    background-color: #FFC0CB;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
